# Ignore datasets
data/
*.zip/

# Ignore heavy raw video data
WLASL/

# Ignore Python cache and venv
__pycache__/
*.pyc




# Ignore virtualenvs
venv/
.env/

# Ignore system files
.DS_Store
__pycache__/

# Ignore other large files
*.tfliteWLASL/
