# Ignore datasets
data/
*.zip/

# Ignore heavy raw video data
WLASL/

# Ignore Python cache and venv
__pycache__/
*.pyc




# Ignore virtualenvs
venv/
.env/

# Ignore system files
.DS_Store
__pycache__/

# Ignore other large files
*.tfliteWLASL/
asl_project.zip
models/rgb_inception_i3d_kinetics_only_tf_dim_ordering_tf_kernels_no_top.h5
models/lstm/
venv/
venv_tf/
training_log.csv
