# Ignore datasets
data/
*.zip/

# Ignore heavy raw video data
WLASL/raw_videos/
WLASL/*.zip
WLASL/*.swf
WLASL/*.mp4

# Ignore the entire WLASL repo unless needed files are copied manually
WLASL/.git/
WLASL/.gitmodules

# Ignore Python cache and venv
__pycache__/
*.pyc




# Ignore virtualenvs
venv/
.env/

# Ignore system files
.DS_Store
__pycache__/

# Ignore other large files
*.tfliteWLASL/
